/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  gap: 2.5rem;
  color: '#4752C4';
  font-family: 'Lexend Deca';
  font-weight: 400;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    font-family: 'Lexend Deca';
  font-weight: 400;
    padding: 2rem;
    
  }
}

.buttons {
  margin-top: 54px;
  
  font-family: 'Lexend Deca';
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

