@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

html[data-theme='light'] .DocSearch {
  border-radius: 10px;
  font-family: 'Lexend Deca';
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-primary-darker);
  --docsearch-searchbox-focus-background: var(--ifm-color-primary-darkest);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='light'] .DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 12px;
  color: white;
}

html[data-theme='dark'] .DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 12px;
  color: white;
}

html[data-theme='dark'] .DocSearch {
  border-radius: 10px;

  font-family: 'Lexend Deca';
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-primary-darker);
  --docsearch-searchbox-focus-background: var(--ifm-color-primary-darkest);
  /* Hit */
  --docsearch-hit-color: white;
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgba(47, 55, 69, 0.7) 0%,
    rgba(38, 42, 49, 0.7) 100%
  );
}

html[data-theme='dark'] .DocSearch-Footer{
  display: none;
}

html[data-theme='light'] .DocSearch-Footer{
  display: none;
}

html[data-theme='light'] .DocSearch-Input{
  color: white;
}

html[data-theme='dark'] .DocSearch-Input{
  color: white;
}
html[data-theme='light'] .DocSearch-Search-Icon{
  color: white;
}

html[data-theme='dark'] .DocSearch-Search-Icon{
  color: white;
}

html[data-theme='light'] .DocSearch-Button-Keys{
  display: none
}

html[data-theme='dark'] .DocSearch-Button-Keys{
  display: none
}

html[data-theme='light'] .DocSearch-Button{
  height: 45px;
}

html[data-theme='dark'] .DocSearch-Button{
  height: 45px;
}

html .DocSearch-Button:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
}

:root {
  --ifm-font-family-base: 'Lexend Deca';
  font-weight: 400;
  --ifm-color-primary: rgb(35, 101, 224);
  --ifm-color-primary-dark: #0d52d1;
  --ifm-color-primary-darker: #0e47b1;
  --ifm-color-primary-darkest: #043da8;
  --ifm-color-primary-light: rgb(104, 157, 255);
  --ifm-color-primary-lighter: #77a7ff;
  --ifm-color-primary-lightest: #97bbff;
  --ifm-code-font-size: 95%;
  --ifm-heading-font-family: 'Lexend Deca';
  --ifm-font-family-monospace: 'JetBrains Mono', monospace;
  --ifm-navbar-link-color: #FFF;
  --ifm-content-clr: rgb(128, 136, 150);
  transition: 0.5s ease-in-out;
  
}
::-webkit-scrollbar{
  width: 10px;
  -webkit-appearance: none;
  overflow: auto;
  background: transparent;
}

html, body {
  scroll-behavior: smooth;
}
.theme-back-to-top-button {
  display: none;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(35, 101, 224) ,#0d52d1);
  border: 1px #1A1A1A solid;
  border-radius: 10px;
  overflow: auto;

}

table tr:nth-child(2n) {
  background-color: #6e6e6e12;
}

[data-theme="dark"] details table {
  background-color: #0e0e0eaf;
}

.darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-ColorModeToggle-styles-module {
  border-radius: 2px;
}

[data-theme="dark"] pre code {
 font-family: "JetBrains Mono";
 background-color: #161616;
}
[data-theme="light"] pre code {
 font-family: "JetBrains Mono";
 background-color: #ebebeb;
}
h1, h2, h3, h4, h5, p, a {
  font-family: 'Lexend Deca';
  font-weight: 400;
}
.features {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  width: 100%;
}
.text--center {
  width: 100%;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
    background: transparent;
    overflow: auto;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
   background: transparent;
   overflow: auto;
}

.footer--dark {
  background-color: var(--ifm-color-primary-dark);
}
article {
  max-width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.hero__subtitle{
  color: #FFF;
  margin-bottom: 50px;
}
h1.hero__title{
color: #FFF;
}
.navbar--fixed-top{
background-color: var(--ifm-color-primary-dark);
  height: 67px;
color: #FFFFFF;
}
.head__code{
  background-color: var(--ifm-color-primary-dark);
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  text-decoration: none;
}
[data-theme="dark"] .button.button--secondary {
  color: #f5f6f7;
  font-weight: 300;
  border: 0px;
  background: #202020;
}
[data-theme="light"] .button.button--secondary {
  color: #383838;
  font-weight: 300;
  border: 0px;
  background: #c7c7c7f2;
}
table th{
  background: #0D52D1;
    color: #1A1A1A;
}
table{
  border: 2px solid #0D52D1;
  border-radius: 15px;
  text-align: center;
}
[data-theme="dark"] .table-of-contents__link--active {
  background-color: #222222;
  border-radius: 5px;
  color: white;
}

[data-theme="light"] .table-of-contents__link--active {
  background-color: #e2e2e2;
  border-radius: 5px;
}

.toc-highlight {
  padding: 6px
}

details {
  border: 0px solid;
}
[data-theme="dark"] .details_node_modules-\@docusaurus-theme-classic-lib-next-theme-Details-styles-module {
  background: #222222;
  border: 0px solid transparent;
}

.table-of-contents__left-border {
  border-left: 0px solid;
}
.DocSearch-Button{
  width: 320px;
}

.navbar__items--right > :last-child {
  padding-left: 0px;
}

.navbar__brand{
  font-weight: 200;
}
.navbar__items{
  gap: 29px;
}
.navbar__item{
  height: 100%;
  align-items: center;
  display: flex;
  border-radius: 10px;
}

.toggleButton_node_modules-\@docusaurus-theme-classic-lib-next-theme-ColorModeToggle-styles-module:hover {
  border-radius: 6px;
  background: var(--ifm-color-primary-dark);
}
@media(max-width: 997px){
  html[data-theme='light'] .clean-btn svg path {
  fill: #0f0f0f
}

  html .DocSearch-Button{
    width: 285px;
  }

  .navbar__item{
    display: none;
  }
}
.navbar-sidebar{
  transition: 0.5s ease-in-out;
}
.text--center h3{
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}
.text--center p{
  font-size: 17px;
  line-height: 3rem;
  font-weight: 200;
  color: var(--ifm-content-clr);
  text-align: left;
}

.navbar__item:hover{
  color: #FFF;
  background: var(--ifm-color-primary-darkest);
}

.navbar__link--active{
  color: rgb(229, 231, 235);
  background: var(--ifm-color-primary-darker);
}


.navbar__link{
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.head__code:hover{
  color: #FFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
  
}

.footer__title{
  font-weight: 500;
  font-size: 18px;
  font-style: bold;
}

.footer__item{
  font-style: italic;
}

.footer__link-item{
  transition: .5s;
}

.close {
  color: #075FFF;
}

.thin-scrollbar{
  margin: 3px;
}

.button.button--secondary{
  border-radius: 10px;
    margin: 10px;
}

.anchor{
  transition: .5s;
}

tbody tr{
  transition: .2s;
}

tbody:hover tr{
  opacity: 0.25;
}

tbody:hover tr:hover{
  opacity: 1;
}



.footer__link-item:hover{
  color: white;
  text-decoration: none;
  
  text-shadow: 0px 0px 10px white;
}

.docusaurus-highlight-code-line {
  font-family: 'Lexend Deca';
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  font-family: 'Lexend Deca';
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  --ifm-background-color: #0e0e0e;
  --ifm-background-surface-color: #0e0e0e;
}

header {
  display: none;
}
h1 {
  font-size: 38px;
}
.dropdown--right {
  background-color: #1a49a0;
  padding: 5px 20px;
  height: 38px;
  transition: 0.2s ease-in-out;
}

.dropdown--right:hover{
  padding: 3px 24px;
  height: 33px;
  color: white;
}

a.navbar__link:hover {
  color: white
}


.tabs__item {
  align-items: center;
  margin-bottom: 0px;
  border: 0px solid;
  height: 48px;
  margin-right: 8px;
  font-weight: 400;
}
.tabs__item--active {
  background-color: var(--ifm-color-primary-dark);
  border: 0px;
  border-radius: 6px;
  color: #ebebeb;
}

.tabs__item--active:hover {
  background-color: var(--ifm-color-primary-darkest);
}