@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html[data-theme='light'] .DocSearch {
  border-radius: 10px;
  font-family: 'Poppins';
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-primary-darker);
  --docsearch-searchbox-focus-background: var(--ifm-color-primary-darkest);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='light'] .DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 12px;
  color: white;
}

html[data-theme='dark'] .DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 12px;
  color: white;
}

html[data-theme='dark'] .DocSearch {
  border-radius: 10px;

  font-family: 'Poppins';
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-primary-darker);
  --docsearch-searchbox-focus-background: var(--ifm-color-primary-darkest);
  /* Hit */
  --docsearch-hit-color: white;
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgba(47, 55, 69, 0.7) 0%,
    rgba(38, 42, 49, 0.7) 100%
  );
}

html[data-theme='dark'] .DocSearch-Footer{
  display: none;
}

html[data-theme='light'] .DocSearch-Footer{
  display: none;
}

html[data-theme='light'] .DocSearch-Input{
  color: white;
}

html[data-theme='dark'] .DocSearch-Input{
  color: white;
}
html[data-theme='light'] .DocSearch-Search-Icon{
  color: white;
}

html[data-theme='dark'] .DocSearch-Search-Icon{
  color: white;
}

html[data-theme='light'] .DocSearch-Button-Keys{
  display: none
}

html[data-theme='dark'] .DocSearch-Button-Keys{
  display: none
}

html[data-theme='light'] .DocSearch-Button{
  height: 45px;
}

html[data-theme='dark'] .DocSearch-Button{
  height: 45px;
}

html .DocSearch-Button:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
}

:root {
  --ifm-font-family-base: 'Poppins';
  font-weight: 400;
  --ifm-color-primary: rgb(35, 101, 224);
  --ifm-color-primary-dark: #0d52d1;
  --ifm-color-primary-darker: #0e47b1;
  --ifm-color-primary-darkest: #043da8;
  --ifm-color-primary-light: rgb(104, 157, 255);
  --ifm-color-primary-lighter: #77a7ff;
  --ifm-color-primary-lightest: #97bbff;
  --ifm-code-font-size: 95%;
  --ifm-heading-font-family: 'Poppins';
  --ifm-navbar-link-color: #FFF;
  --ifm-content-clr: rgb(128, 136, 150);
  transition: 0.5s ease-in-out;
}
::-webkit-scrollbar{
  width: 10px;
  -webkit-appearance: none;
  overflow: auto;
  background: transparent;
}


::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(35, 101, 224) ,#0d52d1);
  border: 1px #1A1A1A solid;
  border-radius: 10px;
  overflow: auto;

}
.features {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  width: 100%;
}
.text--center {
  width: 100%;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
    background: transparent;
    overflow: auto;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
   background: transparent;
   overflow: auto;
}

.footer--dark {
  background-color: var(--ifm-color-primary-dark);
}
article {
  max-width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.hero__subtitle{
  color: #FFF;
  margin-bottom: 50px;
}
h1.hero__title{
color: #FFF;
}
.navbar--fixed-top{
background-color: var(--ifm-color-primary-dark);
  height: 67px;
color: #FFFFFF;
}
.head__code{
  background-color: var(--ifm-color-primary-dark);
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  text-decoration: none;
}

table th{
  background: #0D52D1;
    color: #1A1A1A;
}
table{
  border: 2px solid #0D52D1;
  border-radius: 15px;
  text-align: center;
  
}
.DocSearch-Button{
  width: 320px;
}

.navbar__brand{
  font-weight: 200;
}
.navbar__items{
  gap: 29px;
}
.navbar__item{
  height: 100%;
  align-items: center;
  display: flex;
  border-radius: 10px;
}
@media(max-width: 997px){
  html .DocSearch-Button{
    width: 285px;
  }

  .navbar__item{
    display: none;
  }
}
.navbar-sidebar{
  transition: 0.5s ease-in-out;
}
.text--center h3{
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}
.text--center p{
  font-size: 17px;
  line-height: 3rem;
  font-weight: 200;
  color: var(--ifm-content-clr);
  text-align: left;
}

.navbar__item:hover{
  color: #FFF;
  background: var(--ifm-color-primary-darkest);
}

.navbar__link--active{
  color: rgb(229, 231, 235);
  background: var(--ifm-color-primary-darker);
}


.navbar__link{
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.head__code:hover{
  color: #FFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
  
}

.footer__title{
  font-weight: 500;
  font-size: 18px;
  font-style: bold;
}

.footer__item{
  font-style: italic;
}

.footer__link-item{
  transition: .5s;
}

.close {
  color: #075FFF;
}

.thin-scrollbar{
  margin: 3px;
}

.button.button--secondary{
  border-radius: 10px;
    margin: 10px;
}


.footer__link-item:hover{
  color: white;
  text-decoration: none;
  
  text-shadow: 0px 0px 10px white;
}

.docusaurus-highlight-code-line {
  font-family: 'Poppins';
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  font-family: 'Poppins';
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
}
